<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <p>You have purchased a {{ request.session.item }}!</p>
    <p>We have charged your credit card {{ request.session.charge }}</p>
    <p>You have ordered {{ request.session.total_items }}, and have spent a total of {{ request.session.total_charge }}</p>
    <form action='/clear' method='POST'>
        {% csrf_token %}
        <input type='submit' value='Empty Cart'>
    </form>
</body>
</html>