<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h1>Amadon</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Dojo T-Shirt</td>
            <td>$19.99</td>
            <td><form action='/amadon/buy' method='POST'>
                {% csrf_token %}
                <select name='quantity'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></td>
                <td>
                    <input type='hidden' name='product_id' value='1015'>
                    <input type='submit' value='Buy!'>
                </td>
            </form>
        </tr>
        <tr>
            <td>Dojo Sweater</td>
            <td>$29.99</td>
            <td><form action='/amadon/buy' method='POST'>
                {% csrf_token %}
                <select name='quantity'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></td>
                <td>
                    <input type='hidden' name='product_id' value='1016'>
                    <input type='submit' value='Buy!'>
                </td>
            </form>
        </tr>
        <tr>
            <td>Dojo Cup</td>
            <td>$4.99</td>
            <td><form action='/amadon/buy' method='POST'>
                {% csrf_token %}
                <select name='quantity'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></td>
                <td>
                    <input type='hidden' name='product_id' value='1017'>
                    <input type='submit' value='Buy!'>
                </td>
            </form>
        </tr>
        <tr>
            <td>Algorithum Book</td>
            <td>$49.99</td>
            <td><form action='/amadon/buy' method='POST'>
                {% csrf_token %}
                <select name='quantity'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></td>
                <td>
                    <input type='hidden' name='product_id' value='1018'>
                    <input type='submit' value='Buy!'>
                </td>
            </form>
        </tr>
    </table>
</body>
</html>